body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f8fa;
  color: #333;
}

header {
  background-color: #4984a4;
  color: white;
  padding: 0.2rem;
  text-align: center;
}

main {
  display: flex;
  height: calc(100vh - 120px);
}

#map {
  flex: 3;
  height: 100%;
}


