USE [master];
IF DB_ID(N'FleetMonitoring') IS NULL
    CREATE DATABASE [FleetMonitoring];
GO

USE [FleetMonitoring];
GO

IF OBJECT_ID('dbo.Alerts','U') IS NOT NULL DROP TABLE dbo.Alerts;
IF OBJECT_ID('dbo.Parameters','U') IS NOT NULL DROP TABLE dbo.Parameters;
IF OBJECT_ID('dbo.BoatsInformations','U') IS NOT NULL DROP TABLE dbo.BoatsInformations;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BoatId] [int] NOT NULL,
	 NOT NULL,
	 NOT NULL,
	 NULL,
	 NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Resolved] [bit] NULL,
 CONSTRAINT [PK_Alerts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF)
) 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoatsInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	 NULL,
	 NULL,
	 NULL,
	 NULL,
 CONSTRAINT [PK_BoatsInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF)
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BoatId] [int] NOT NULL,
	 NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[BoatSpeed] [float] NULL,
	[WindSpeed] [float] NULL,
	[Position] [geography] NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF)
)
GO

SET IDENTITY_INSERT [dbo].[Alerts] ON 
SET IDENTITY_INSERT [dbo].[Alerts] OFF
GO

SET IDENTITY_INSERT [dbo].[BoatsInformations] ON 
SET IDENTITY_INSERT [dbo].[BoatsInformations] OFF
GO

SET IDENTITY_INSERT [dbo].[Parameters] ON 
INSERT [dbo].[Parameters] ([Id], [BoatId], [Timestamp], [Latitude], [Longitude], [BoatSpeed], [WindSpeed], [Position]) VALUES
(1, 1, CAST(N'2025-10-14T22:12:00.5230637' AS DateTime2), 53.765, 21.523, 4.2, 12.1, 0xE6100000010C52B81E85EBE14A40D9CEF753E3853540),
(2, 1, CAST(N'2025-10-14T22:17:00.5230637' AS DateTime2), 53.77, 21.53, 4.5, 10.8, 0xE6100000010CC3F5285C8FE24A4048E17A14AE873540),
(3, 2, CAST(N'2025-10-14T22:12:00.5230637' AS DateTime2), 53.8, 21.6, 3.8, 9.5, 0xE6100000010C6666666666E64A409A99999999993540);
SET IDENTITY_INSERT [dbo].[Parameters] OFF
GO

ALTER TABLE [dbo].[BoatsInformations] 
  ADD CONSTRAINT [DF_Boats_CreatedAt] DEFAULT (sysutcdatetime()) FOR [CreatedAt];
GO

ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  
  CONSTRAINT [FK_Alerts_BoatsInformations] FOREIGN KEY([BoatId])
  REFERENCES [dbo].[BoatsInformations] ([Id]);
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK_Alerts_BoatsInformations];
GO

ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  
  CONSTRAINT [FK_Parameters_BoatsInformations] FOREIGN KEY([BoatId])
  REFERENCES [dbo].[BoatsInformations] ([Id]);
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_BoatsInformations];
GO
